.logo{
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: -0.02rem;
    color: #0a1b32;
    margin-top: 37px;
    margin-left: 100px ;


}
.logo.punkt{
    color: #824FF1 ;
}

section{
    display: inline-block;
}
.title {
    max-width: 496px;
    width: 100;
    margin-top: 100px;
    margin-left: 150px;
 font-family: 'Ramaraja', serif;
font-size: 72px;
font-style: normal;
line-height: 76px;
letter-spacing: 0.02em;
text-align: left;
color :#1B0A42;
;

}
.section {
    max-width: 583px;
    width: 100%;
    margin-top: 0px;
    margin-left: 150px;
    font-family: 'Ramaraja', serif;
font-size: 20px;
font-style: normal;
line-height: 32px;
letter-spacing: 0.02em;
text-align: left;
color: #9A9A9A;

}
.btn {
width: 154px;
height: 64px;
margin-left: 150px;
    background: #824FF1;
    border-radius: 6px;
    width: 152px;
    height: 63.82px;
    font-family: 'Ramaraja', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    border: none;

}

img {
    max-width: 400px;
    width: 100%;
    margin-left: 40px;
    display: inline-block;
    padding-left: 20px;
}

